[Unit]
Description=PrintWatch AI
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/PrintWatchAI_Backend/
User=pi
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/pi/PrintWatchAI_Backend/main.py

[Install]
WantedBy=multi-user.target
