[Unit]
Description=ustreamer
After=network.target
[Service]
User=ustreamer
ExecStart=/usr/local/bin/ustreamer --log-level 0 --device /dev/video0 --desired-fps=5 --host=0.0.0.0 --port=8080 -r 1920x1080 --quality 100
[Install]
WantedBy=multi-user.target
